// | -------------------------------------------------------------
// | Font
// | -------------------------------------------------------------

@use 'breakpoint' as *;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/fonts/OpenSans-Italic.woff2') format('woff2'),
    url('/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: local('Inter Tight Semi Bold'), local('InterTight-SemiBold'), url('/fonts/InterTight-SemiBold.woff2') format('woff2'),
    url('/fonts/InterTight-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Semi Bold'), local('Inter-SemiBold'), url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Ultra Condensed';
  src: local('Baikal Ultra Condensed Black'), local('Baikal-UltraCondensedBlack'), url('/fonts/Baikal-UltraCondensedBlack.woff2') format('woff2'),
    url('/fonts/Baikal-UltraCondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Ultra Condensed';
  src: local('Baikal Ultra Condensed Medium'), local('Baikal-UltraCondensedMedium'), url('/fonts/Baikal-UltraCondensedMedium.woff2') format('woff2'),
    url('/fonts/Baikal-UltraCondensedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Editorial New";
  src: url("/fonts/EditorialNew.woff2") format("woff2 supports variations"),
    url("/fonts/EditorialNew.woff2") format("woff2-variations");
  font-weight: 100 900;
}




:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
  --fs-2xs: clamp(0.51rem, 0.01vw + 0.51rem, 0.53rem);
  --fs-xs: clamp(0.64rem, 0.08vw + 0.62rem, 0.75rem);
  --fs-sm: clamp(0.8rem, 0.19vw + 0.75rem, 1.06rem);
  --fs-base: clamp(1rem, 0.37vw + 0.91rem, 1.5rem);
  --fs-md: clamp(1.25rem, 0.65vw + 1.09rem, 2.12rem);
  --fs-lg: clamp(1.56rem, 1.06vw + 1.3rem, 3rem);
  --fs-xl: clamp(1.95rem, 1.69vw + 1.53rem, 4.24rem);
  --fs-2xl: clamp(2.44rem, 2.63vw + 1.78rem, 6rem);
  --fs-3xl: clamp(3.05rem, 4.02vw + 2.05rem, 8.48rem);
  --fs-4xl: clamp(3.81rem, 6.06vw + 2.3rem, 11.99rem);
  --fs-5xl: clamp(4.77rem, 9.03vw + 2.51rem, 16.95rem);
  --fs-6xl: clamp(5.96rem, 13.34vw + 2.63rem, 23.97rem);
  /* https: //www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.25&maxFontSize=24&maxWidth=2560&maxRatio=1.414&steps=2xs%2Cxs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl%2C6xl&baseStep=base&prefix=fs&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1915 */
}

body {
  font-family: var(--font-family-default), var(--font-fallback);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-size: var(--fs-base);
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  a:not(.button) {
    color: var(--action-color);
    text-decoration: underline;

    &:visited {
      color: var(--action-color);
    }

    &:hover,
    &:focus {
      color: var(--action-color-state);
      text-decoration: none;
    }
  }

  :where(main) a {
    word-wrap: break-word;
    word-break: break-word;
  }

  :where(h1, h2) {
    font-family: var(--font-family-special);
  }

  h1 {
    font-weight: 800;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 3.375rem;

    @include breakpoint(medium) {
      font-size: 3rem;
      line-height: 3.625rem;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.8125rem;

    @include breakpoint(medium) {
      font-size: 2.25rem;
      line-height: 3.375rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;

    @include breakpoint(medium) {
      font-size: 1.875rem;
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include breakpoint(medium) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.6875rem;

    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.875rem;

      h6 {
        font-size: 1rem;
      }
    }

    line-height: 1.5rem;

    @include breakpoint(medium) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }

  .intro {
    font-family: var(--font-family-serif);
    font-size: 3em;
    font-weight: 375;
    font-variation-settings: "wght" 375;
    line-height: 1;
    text-wrap: balance;

  }

  .lead {
    font-family: var(--font-family-default);
    // font-size: 1.125rem;
    font-weight: bold;
    text-wrap: pretty;
  }

  .small {
    font-size: 0.875rem;
    text-wrap: pretty;
  }
}