<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<script src="../assets/js/scripts.js"></script>

<style lang="scss" is:global>
  html,
  body {
    cursor: none;
    cursor: url(../cursor.svg) 32 20, url(../cursor.png) 32 20, auto;
  }

  button:hover,
  nav *:hover,
  a:hover {
    cursor: url(../cursor-hover.svg) 24 16, url(../cursor-hover.png) 24 16, auto;
  }

  .cursor-dot,
  .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .cursor-dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--background);
  }

  .cursor-dot-outline {
    width: 2rem;
    height: 2rem;
    background-color: #f9a4cedf;
  }
</style>
