---
// import CallToAction from "./CallToAction.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="stretch container">
      <p class="text-xs">
        &copy; {currentYear} - Astro Build Club. Made with ❤️ by <a
          href="https://allthis.digital">All This</a
        >.
      </p>
    </div>
  </section>
</footer>
