---
import { Icon } from "astro-icon";

const { src = "/astro-character-example.png" } = Astro.props;
---

<section class="hero my-24">
  <div class="container">
    <div class="relative grid grid-cols-1 items-center gap-24 lg:grid-cols-1">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-6xl lg:text-8xl">
          <slot><span class="text-gradient">Astro</span> Build Club</slot>
        </h1>
      </div>
      <img
        class="character hidden lg:block"
        src={src}
        alt=""
        decoding="async"
      />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    font-family: var(--font-family-special);
    font-size: 35vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.8;
  }
  h1 span {
    font-size: 45vw;
    font-weight: 900;
  }
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .character {
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 40vw;
  }
</style>
