<div class="container">
  <div
    class="newsletter mb-24 mt-24 flex flex-col items-center gap-4 rounded-xl p-8 md:p-12"
  >
    <h2 class="text-center text-4xl md:text-7xl">Stay up to date!</h2>
    <p class="small text-center">
      Subscribe to our newsletter to remain informed about the latest
      advancements in the Astro Framework and other design-focused frontend
      content. Joining our community will provide you access to new features,
      best practices, and industry trends in web development.
    </p>
    <iframe
      src="https://astrobuildclub.substack.com/embed"
      width="100%"
      height="auto"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</div>

<style lang="scss">
  .newsletter {
    color: var(--neutral-900);
    background: white;
  }

  p {
    max-width: 80ch;
  }
</style>
